html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2.5600000000000005rem;
  background-color: #fff;
  color: #3a3b3c;
  background-image:url(../img/fondo4.png);
  background-repeat:repeat;
}
header
{
	background-color:#FFF;
}

#header-area .header-bottom-area .navbar-brand img {
  width: 100px;
}

#scholership-promo,
#slider-area .single-slide-wrap,
.gallery-gird .col-lg-3 .single-gallery-item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color:#FFF;
}

#header-area .header-bottom-area.fixed .navbar-brand img {
  width: 150px;
}

#slider-area {
  position: relative;
  height: 700px;
}

#slider-area .single-slide-wrap {
  background-color: #fff;
  color: #fff;
  /*padding: 155px 0 320px;*/
  position: relative;
  z-index: 1;
  height: 700px;
}

#slider-area .single-slide-wrap:after {
  background-color: #fff;
  content: "";
  left: 0;
  height: 100%;
  top: 0;
  -moz-opacity: .1;
  -khtml-opacity: .1;
  -webkit-opacity: .1;
  opacity: .1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
  position: absolute;
  /*width: 100%;*/
  z-index: -1;
}

#slider-area .owl-dots {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 65px;
  display: none;
}

#slider-area .owl-dots .owl-dot span {
  width: 25px;
  height: 25px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 15px;
  line-height: 100%;
  display: none;
}

#slider-area .owl-dots .owl-dot:last-child span {
  margin-bottom: 0;
  display: none;
}

#slider-area .owl-dots .owl-dot.active span {
  border: 3px solid #fff;
  background-color: #247fb7;
  width: 30px;
  height: 30px;
  display: none;
}

.scroll-top {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #2ecc71;
  color: #fff;
  display: none;
  font-size: 2rem;
  line-height: 3.2rem;
  line-height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 20px;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  z-index: 9;
}

.scroll-top:focus,
.scroll-top:hover {
  background-color: #5481ff;
  color: #fff;
}


@media only screen and (max-width:768px) {

	#slider-area {
		position: relative;
		height: 300px;
		width: 100%;
	}
	#slider-area .single-slide-wrap {
		background-color: #fff;
		color: #fff;
		/*padding: 155px 0 320px;*/
		position: relative;
		z-index: 1;
		height: 300px;
	}
	#header-area .header-bottom-area .navbar-brand img {
		width: 100px;
	}

}

@media only screen and (min-width:768px) and (max-width:992px) {
	#slider-area {
		position: relative;
		height: 500px;
	}
	#slider-area .single-slide-wrap {
		background-color: #fff;
		color: #fff;
		/*padding: 155px 0 320px;*/
		position: relative;
		z-index: 1;
		height: 500px;
	}
	#header-area .header-bottom-area .navbar-brand img {
		width: 100px;
	}
}

